.provider-feed {
  clear:both;
}

.paginate-top {
  float: right;
  clear: both;
  margin-right: 20px;
}

.paginate-bottom {
  float: right;
}

.post-text {
  padding: 10px;
}

.post {
  border: 1px solid #4F96F0;
  border-radius: 10px;
  margin: 5px;
  background-color: #F7F9FA;
  margin: 10px;
}