<div class="left-column">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#"> Check-ins</a>
      </li>
      <li class="divider">
        <a href="#"> Tips</a>
      </li>
      <li class="divider">
        <a href="#"> PlaceHolder1</a>
      </li>
      <li class="divider">
        <a href="#"> PlaceHolder2</a>
      </li>
      <li class="divider">
        <a href="#"> PlaceHolder3</a>
      </li>
    </ul>
  </div>
</div>